@model StudentsInCourseViewModel

@{
    ViewData["Title"] = $"Students in {this.Model.Course.Name}";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Grade</th>
      
            @if (this.Model.Course.EndDate < DateTime.UtcNow)
            {
                <th></th>
            }
     
        </tr>
    </thead>
    <tbody>
        @foreach (var student in this.Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@(student.Grade == null ? "No Grade" : student.Grade.ToString())</td>
              
                @if (this.Model.Course.EndDate < DateTime.UtcNow)
                {
                    <td>
                        <form asp-action="GradeStudent" asp-route-id="@this.Model.Course.Id" method="post">
                            <input type="hidden" name="studentId" value="@student.Id" />
                            <select name="grade" asp-items="@Html.GetEnumSelectList<Grade>()"></select>
                            <input type="submit" class="btn btn-primary" value="Add Grade" />
                        </form>
                    </td>
                }
    
            </tr>
        }
    </tbody>
</table>